<!DOCTYPE html>
<html>

    <head>

        <title>Avatar Controller</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    </head>

    <body>

        <h1 style="text-align: center; font-size: 40px;">
            Avatar Controller
        </h1>

        <!-- Load image -->
        <div style="display: none;">

            <img id="unpressed" src="{{url_for('static', filename='images/Unpressed.png')}}">
            <img id="pressed" src="{{url_for('static', filename='images/Pressed.png')}}">
        
        </div>
        
        <!-- js will put images here -->
        <div style="text-align: center; position: relative; display: block;">
            <div style="display: inline-block; position: relative;" id="arrows"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{{url_for('static', filename='js/arrows.js')}}"></script>
        <script src="{{url_for('static', filename='js/keyInput.js')}}"></script>

    </body>

</html>